/* Container 80% en MD y LG*/
@media (min-width: 768px) {
  #about {
    width: 80% !important;
  }
}
#about {
  padding-top: 2%;
  padding-bottom: 2%;
}
.aboutPhoto {
  width: 100%;
}
.aboutContainerRight {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
  #about {
    margin-top: 3vh !important;
    margin-bottom: 2vh !important;
  }
  .aboutPhoto {
    margin-bottom: 1.5vh;
  }
}
