#social {
  padding-top: 2%;
  padding-bottom: 2%;
}

@media (max-width: 768px) {
  .socialShowcase {
    height: 80vh;
  }
  #social {
    margin-top: 3vh !important;
    margin-bottom: 2vh !important;
  }
}

@media (min-width: 768px) {
  #social {
    width: 80% !important;
  }

  .socialShowcase {
    height: 25vh;
  }
}

.socialPhoto {
  width: 100%;
}
.socialContainer {
  font-family: "Poppins", sans-serif;
}

.socialShowcase {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
